.lessonsItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
}

.textBlock span {
    font-size: 20px;
    color: black;
}

.textBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lessonsItem a {
    text-decoration: none;
    width: 50%;
}


.lessonsItem:hover{
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.scroolBlock {
    overflow: scroll;
    height: 40vh;
    border: solid 1px black;
}

