.header {
    grid-area: h;
    background-color: black;
    
  }
  
  .header img {
    width: 20px;
  }

  .panel{
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: start;
  }

  .panel button {
    background-color: white;
    border: none;
    padding: 10px 32px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
  }

  .panel button:hover{
    background-color: #4CAF50;
    color: white;
}