.nav {
    grid-area: n;
    background-color: #f1f1f1;
    padding: 20px;
  }

  .nav span {
    font-size: 16px;
  }
  
  .item a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .item a.active {
    background-color: #555;
    color: white;
  }

  .item a:hover {
    background-color: #555;
  }
 